{% extends "base.html" %}

{% block title %} &ndash; {{ _('Artistas') }}:{% endblock %}

{% block content %}
<article class="single">
  <header>
    <h1>Artistas</h1>
  </header>

  {% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.article_top %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle ads-responsive"
         data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
         data-ad-slot="{{ GOOGLE_ADSENSE.ads.article_top }}"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  {% endif %}

  <div>
    <table class="list">
      <tr>
        <th>Nome</th>
        <th>Músicas</th>
        <th>Cor</th>
      </tr>
      {% for obj in objects %}
      <tr>
        <td><a href="{{ SITEURL }}/{{ obj.url }}">{{ obj.name }}</a></td>
        <td>{{ obj.songs|length }}</td>
        <td bgcolor="{{ '#%06x' % obj.color }}"><font color="white">{{ '0x%06x' % obj.color }}</font></td>
      </tr>
      {% else %}
      <tr>
        <td colspan="3">Nenhum artista registrado</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  {% if ADD_THIS_ID %}
  <div class="center social-share">
    <p>{{ _('Like this article? Share it with your friends!') }}</p>
    <div class="addthis_native_toolbox"></div>
    <div class="addthis_sharing_toolbox"></div>
    <div class="addthis_inline_share_toolbox"></div>
  </div>
  {% endif %}

  {% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.article_bottom %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle ads-responsive"
         data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
         data-ad-slot="{{ GOOGLE_ADSENSE.ads.article_bottom }}"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  {% endif %}

</article>
{% endblock %}
