{% extends "index.html" %}
{% block title %} &ndash; {{ _('Songs by %(name)s', name=object.name) }}:{% endblock %}

{% block content %}
<article class="single">
  <header>
    <h1 id="{{ object.slug }}">{{ object.name }} <a href="{{ SITEURL }}/{{ object.pdf_url }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></h1>
  </header>

  {% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.article_top %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle ads-responsive"
         data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
         data-ad-slot="{{ GOOGLE_ADSENSE.ads.article_top }}"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  {% endif %}

  <div class="chords-list">
    <table>
      <tr>
        <th>Nome</th>
        <th>Tom</th>
        <th>Atualizada</th>
        <th><i class="fa fa-file-pdf-o" aria-hidden="true"></i></th>
      </tr>
      {% for obj in object.songs %}
      <tr>
        <td><a href="{{ SITEURL }}/{{ obj.url }}">{{ obj.title }}</a></td>
        <td>{{ obj.tone }}</td>
        <td>{{ obj.locale_modified }}</td>
        <td><a href="{{ SITEURL }}/{{ obj.pdf_url }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
      </tr>
      {% else %}
      <tr><td colspan="4">Nenhuma música registrada</td></tr>
      {% endfor %}
    </table>
  </div>

  <div class="tag-cloud">
    <p>
      {% if object.tags %}
      {% for tag in object.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
      {% endfor %}
      {% endif %}
    </p>
  </div>

  {% if ADD_THIS_ID %}
  <div class="center social-share">
    <p>{{ _('Like this article? Share it with your friends!') }}</p>
    <div class="addthis_native_toolbox"></div>
    <div class="addthis_sharing_toolbox"></div>
    <div class="addthis_inline_share_toolbox"></div>
  </div>
  {% endif %}

  {% include "partial/neighbors.html" %}

  {% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.article_bottom %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle ads-responsive"
         data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
         data-ad-slot="{{ GOOGLE_ADSENSE.ads.article_bottom }}"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  {% endif %}

</article>
{% endblock %}
