{% extends "base.html" %}

{% block title %} &ndash; Publications{% endblock %}

{% block content %}

<article class="single">
  <header>
    {% import 'partial/translations.html' as translations with context %}
    {{ translations.translations_for(publications) }}
    <h1 id="publications">Publications</h1>
  </header>
  <div>
    {% block before_content %}
    <p>This is a complete list of publications I have authored or co-authored.
        You can find my h-index and i10-index information at <a
        href="http://scholar.google.com/citations?user=pAfLhMoAAAAJ"
        target="_blank">Google Scholar</a>. Clicking on the text of an entry
        will show you the BibTeX citation for such an entry, together with a
        download link, if one is available.
    </p>
    {% endblock %}
      {% for group in publications|groupby(1)|reverse %}
      <h3 id="{{ group.grouper }}">{{ group.grouper }}</h3>
      {% for key, year, text, bibtex, pdf, slides, poster, datum in group.list|sort(attribute='7', reverse=True) %}
      <details>
        <summary>{{ text }}</summary>
        {% if pdf %}<br/><a href="{{ pdf }}" target="_blank"><b>Article:</b> <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>{% endif %}
        {% if poster %}{% if pdf %}&nbsp;|&nbsp;{% endif %}<a href="{{ poster }}" target="_blank"><b>Poster:</b> <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>{% endif %}
        <br/><pre class="bibtex">{{ bibtex|replace("\\textasciitilde ","~")|safe }}</pre>
      </details>
      {% endfor %}
      {% endfor %}
    {% block after_content %}{% endblock %}
  </div>
</article>

{% endblock %}
